<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="swizzleApp" ng-controller="MainCtrl"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/fontawesome.css">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
        <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="row player-menu">
      <div class="small-3 large-3 columns"></div>
      <div class="small-6 large-6 columns"></div>
      <div class="small-3 large-3 columns"></div>
    </div>
    <div id="sidebar" player-sidebar full-height="true" min-width="200">
      <span>LIBRARY</span>
      <ul>
        <li ng-class="{ active: activeView === '/music' }" ng-click="go('/music')"><i class="fa fa-music"></i> Music</li>
        <li ng-class="{ active: activeView === '/movies' }" ng-click="go('/movies')"><i class="fa fa-youtube-play"></i> Movies</li>
        <li ng-class="{ active: activeView === '/podcasts' }" ng-click="go('/podcasts')"><i class="fa fa-microphone"></i> Podcasts</li>
      </ul>
    </div>
    <div class="container" ng-view=""></div>

    <!-- preminified -->
    <script src="components/jquery/jquery.min.js"></script>
    <script src="components/angular/angular.js"></script>

        <!-- build:js scripts/modules.js -->
        <script src="components/angular-resource/angular-resource.js"></script>
        <script src="components/angular-cookies/angular-cookies.js"></script>
        <script src="components/angular-sanitize/angular-sanitize.js"></script>
        <script src="components/angular-route/angular-route.js"></script>
        <script src="components/jquery-ui/ui/jquery.ui.core.js"></script>
        <script src="components/jquery-ui/ui/jquery.ui.widget.js"></script>
        <script src="components/jquery-ui/ui/jquery.ui.mouse.js"></script>
        <script src="components/jquery-ui/ui/jquery.ui.resizable.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/directives/player-sidebar.js"></script>
        <script src="scripts/controllers/music.js"></script>
        <script src="scripts/controllers/movies.js"></script>
        <script src="scripts/controllers/podcasts.js"></script>
        <script src="scripts/directives/column-data-view.js"></script>

        <!-- endbuild -->
</body>
</html>
